* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan";
  font-size: 16px;
  background: #3a4663;
}
.main {
  text-align: center;
}
.calc-app {
  width: 100%;
  display: grid;
  gap: 24px;
}
h1 {
  color: #fff;
  font-size: 32px;
  line-height: normal;
  letter-spacing: -0.533px;
}
.theme-options {
  align-items: center;
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}
.theme-option {
  letter-spacing: 6px;
  margin: 20px;
}

.theme-switch-btn {
  position: relative;
  padding: 5px;
  border-radius: 13px;
  background: #242d44;
  width: 71px;
  height: 26px;
  flex-shrink: 0;
}
.oval-btn {
  position: absolute;
  left: 5px;
  border: none;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: #d03f2f;
  border-radius: 100%;
}
.calc-settings {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cacl-display {
  padding: 40px;
  color: #fff;
  text-align: right;
  font-family: "League Spartan";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.933px;
  width: 540px;
  height: 128px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #181f33;
  letter-spacing: 5px;
}

.calc-btns {
  padding: 30px 32px;
  background-color: #242d44;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(4, 1fr); /* 4 rows */
  gap: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.btn {
  outline: none;
  border: none;
  font-family: "League Spartan";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #434a59;
  font-size: 28px;
  text-align: center;
  border-radius: 10px;
  background: #eae3dc;
  box-shadow: 0px -4px 0px 0px #b3a497 inset;
  width: 101px;
  height: 64px;
  flex-shrink: 0;
  background-color: #eae3dc;
  position: relative;
  cursor: pointer;
}

.btn:active {
  top: 3px;
  box-shadow: 0px 0px 0px 0px #b3a497 inset;
  transition: all 0.2s;
}
.equals-reset-btns {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px 32px;
  padding-top: 0px;
  background-color: #242d44;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.reset {
  width: 100%;
  background-color: #647198;
  box-shadow: 0px -4px 0px 0px #414e73 inset;
  color: #fff;
}
.equals {
  width: 100%;
  background-color: #d03f2f;
  box-shadow: 0px -4px 0px 0px #93261a inset;
  color: #fff;
}
