* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  background: #3a4663;
}
.main {
  text-align: center;
}
.calc-app {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calc-btns {
  padding: 10px;
  background-color: #242D44;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(4, 1fr); /* 4 rows */
  gap: 10px;
}
.btn{
  /* margin: 10px; */
  background-color: #EAE3DC;
}
